%section#artists.bg-dark-grey
  .container-fluid
    .row.no-gutter.splashes
      - if @artist.images.empty?
        .col-md-12.header.text-center{:style => "background-image: image-url('image-not-available.jpg')"}
      - else
        - @artist.images.each do |image|
          .col-md-12.header.text-center
            .ph{:style => "background-image: url(#{image.file.url(:large)})"}
            .gradient2
            .vcenter
              %h1.section-heading= @artist.name
              %ul.list-inline.social-buttons
                %li
                  = link_to(@artist.facebook) do
                    %i.fa.fa-facebook
                %li
                  = link_to(@artist.soundcloud) do
                    %i.fa.fa-soundcloud
                %li
                  = link_to(@artist.resident_advisor) do
                    %i.fa.fa-instagram
  .container
    .row.subsection
      .col-md-2.col-md-offset-5.hexagon.text-center
        %h2.section-heading I
      .col-md-12
        %h2.section-heading.text-center.no-margin= t('artists.about')
    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-12
            .row
              .col-md-12
                .section-body
                  %p.text-center= t('artists.has_been_played_at')
            - @artist.events.each do |event|
              .row
                .col-md-12
                  .section-body
                    = link_to "#{event}" do
                      #{event.name}
    .row.subsection
      .col-md-2.col-md-offset-5.hexagon.text-center
        %h2.section-heading II
      .col-md-12
        %h2.section-heading.text-center= t('artists.media')
    .row.text-center
      %iframe{:frameborder => "no", :height => "350", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=#{@artist.soundcloud}&color=5bc6d0&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false", :width => "80%"}
    .row
      .vert-line
    .row
      .col-md-2.col-md-offset-5.text-center
        %a.gotop
