%header
  .no-gutter.splashes
    - @splashes.each do |splash|
      .col-md-6.splash{:style => "background-image: url(#{splash.image.url(:large)})"}
        .caption
          .inner
            %p #{splash.title}
            = link_to(splash.link, class: 'btn btn-xl-noborder', target: '_blank') do
              .lines
                .line.top
                .line.right
                .line.bottom
                .line.left
              %h1
                #{splash.call_to_action}
            %p
              #{splash.subtitle}
  .isologo.vcenter

%section#about.grid.text-center.bg-grey
  .container-fluid
    .row
      .col-md-2.col-md-offset-5.hexagon
        %h2.section-heading ABOUT
    .row
      .col-md-8.col-md-offset-2
        .section-body.section-box-alt
          %p
            PROYECTUAL es un equipo de profesionales vinculados al mundo de la música electrónica, que lleva organizando eventos de alta convocatoria como productores, promotores y mánagers de clubs desde 2005.
        = link_to "Get to know us", about_index_path

%section.grid.bg-dark-grey#news
  .container
    .row
      .col-md-2.col-md-offset-5.hexagon
        %h2.section-heading.text-center NEWS
    .row
      .vert-line
    .row
      .no-gutter
        - @news.each do |news|
          .col-xs-12.col-sm-6.col-md-12.grid-item
            - if news.images.empty?
              .col-md-6
                = link_to(news_path(news), class: 'grid-link') do
                  .grid-hover
                    .grid-hover-content
                      .lines
                        .line.top
                        .line.right
                        .line.bottom
                        .line.left
                      %p read more
                  = image_tag('image-not-available.jpg')
              .col-md-6
                .grid-caption.text-left
                  %p.text-muted
                    #{news.date.to_date.to_formatted_s(:long)}
                  %h4
                    #{news.title}
                  %p
                    #{news.body}
            - else
              - news.images.each do |image|
                - if image.cover == true
                  .row.no-gutter
                    = link_to(news_path(news), class: 'col-md-6 grid-link') do
                      .grid-hover
                        .grid-hover-content
                          .lines
                            .line.top
                            .line.right
                            .line.bottom
                            .line.left
                          %p read more
                      .ph{:style => "background-image: url(#{image.file.url(:medium)})"}
                    .col-md-6.grid-caption.text-left
                      %p.text-muted
                        #{news.date.to_date.to_formatted_s(:long)}
                      %h4
                        #{truncate(news.title, :length => 40)}
                      %p
                        #{news.body}
    .row
      .vert-line
    .row.text-center
      = link_to "View all news", news_index_path, class: 'btn btn-green btn-sm'

:javascript
  $(document).ready(function(){
    var swiper = new Swiper('.carousel .swiper-container', {
      pagination: '.carousel .swiper-pagination',
      slidesPerView: 3,
      paginationClickable: true,
      spaceBetween: 1,
      grabCursor: true
    });
  });
