%header
  .swiper-container
    .swiper-wrapper
      - @events.each do |event|
        - event.images.each do |image|
          - if image.cover == true
            .swiper-slide{:style => "background-image: url(#{image.file.url(:large)})"}
              .swiper-caption
                .swiper-caption-inner
                  %p 15 de Junio
                  = link_to(event.website, class: 'btn btn-xl-noborder') do
                    .lines
                      .line.top
                      .line.right
                      .line.bottom
                      .line.left
                    %h1
                      #{event.name}
                  %p
                    Parc Del Forum
  .swiper-pagination

%section#about.grid.text-center.bg-white
  .container-fluid
    .row
      .col-lg-12
        %h2.section-heading Somos Proyectual
      .col-md-8.col-md-offset-2
        .section-body.section-box-alt
          %p
            Un equipo de jóvenes barceloneses con vocación por la música electrónica que desde 2005 ha realizado más de un centenar de eventos propios como productora, promotora y gestora de clubs. Con el paso de los años, el equipo ha ido creciendo, así como nuestro conocimiento del mercado y el público objetivo. 
        %button.btn-black.btn-lg
          Mas info

%section.grid.bg-light-gray
  .container-fluid
    .row.no-gutter
      - @news.each do |news|
        .col-xs-12.col-sm-6.col-md-3.grid-item
          - if news.images.empty?
            = link_to(news_path(news), class: 'grid-link') do
              .grid-hover
                .grid-hover-content
                  .lines
                    .line.top
                    .line.right
                    .line.bottom
                    .line.left
                  %p view
              = image_tag('image-not-available.jpg')
            .grid-caption.text-left
              %p.text-muted
                #{news.date.to_date.to_formatted_s(:long)}
              %h4
                #{news.title}
          - else
            - news.images.each do |image|
              - if image.cover == true
                = link_to(news_path(news), class: 'grid-link') do
                  .grid-hover
                    .grid-hover-content
                      .lines
                        .line.top
                        .line.right
                        .line.bottom
                        .line.left
                      %p view
                  .ph{:style => "background-image: url(#{image.file.url(:medium)})"}
                .grid-caption.text-left
                  %h4.text-muted
                    #{news.date.to_date.to_formatted_s(:long)}
                  %p
                    #{simple_format(truncate(news.title, :length => 40))}
  

:javascript
  $(document).ready(function(){
    var swiper = new Swiper('header .swiper-container', {
      pagination: 'header .swiper-pagination',
      paginationClickable: true,
      direction: 'vertical',
      autoplay: 5000,
      loop: true,
      speed: 1000
    });
    var swiper = new Swiper('.carousel .swiper-container', {
      pagination: '.carousel .swiper-pagination',
      slidesPerView: 3,
      paginationClickable: true,
      spaceBetween: 1,
      grabCursor: true
    });
  });