%section.grid.full-height.bg-black.no-gutter
	.col-md-6.section-subinfo.white
		.section-box.vcenter
			%h2.section-heading.no-margin
				#{@event.name}
			.section-hr
			%p.section-subheading
				#{@event.subtitle}
			
	.col-md-6.slider
		- if @event.images.empty?
			.full-image{:style => "background-image: image-url('image-not-available.jpg')"}
		- else
			- @event.images.each do |image|
				- if image.cover == true
					.full-image{:style => "background-image: url(#{image.file.url(:large)})"}
						.vcenter
							= link_to "#{@event.video}", class: 'video-button swipebox' do
								= icon('play-circle-o')
			.swiper-pagination
%section.grid.bg-white
	.container-fluid
		.row.no-gutter
			.col-md-6.img-full
				- if @event.images.empty?
					- if image.cover != true
						.swiper-slide{:style => "background-image: image-url('image-not-available.jpg')"}
				- else
					- @event.images.each do |image|
						- if image.cover != true
							= image_tag(image.file.url(:large))
			.col-md-6.section-subinfo
				.section-box-double
					%h3.section-subheading
						About this event
					.section-body
						#{simple_format(@event.description)}
					%h3.section-subheading
						Line Up
					.section-body.lineup
						- @artists.each do |artist|
							= link_to "#{artist}" do
								#{artist.name}

:javascript
	$(document).ready(function(){
		$('.swipebox').swipebox();
	});