%section#events.grid.bg-grey
  .no-gutter.splashes
    .col-md-12.header.text-center
      .full-image{:style => "background-image: image-url('image-not-available.jpg')"}
      %h1.section-heading.vcenter
        #{@event.name}
      .gradient
  .container
    .row.subsection
      .col-md-2.col-md-offset-5.hexagon.text-center
        %h2.section-heading I
      .col-md-12
        %h2.section-heading.text-center
          About this event
    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-6.grid-item
            .section-body
              #{simple_format(@event.description)}
          .col-md-6.grid-item
            .section-body
              Artists who played
              - @artists.each do |artist|
                = link_to "#{artist}" do
                  #{artist.name}
    .row.subsection
      .col-md-2.col-md-offset-5.hexagon.text-center
        %h2.section-heading II
      .col-md-12
        %h2.section-heading.text-center
          Aftermovie
      .col-md-8.col-md-offset-2
        .video
          .video-cover{:style => "background-image: url(#{@event.video_cover.url(:large)})"}
          
%section.bg-dark-grey.offset
  .container
    .row.subsection
      .col-md-2.col-md-offset-5.hexagon.text-center
        %h2.section-heading III
      .col-md-12
        %h2.section-heading.text-center
          Event History
    .row
      %ul.timeline
        - @events.each do |event|
          %li
            .timeline-image{:style => "background-image: url(#{@event.video_cover.url(:large)})"}
              .hexagon-mask
            .timeline-panel
              .timeline-heading
                %h4
                  #{event.name}
              .timeline-body
                %p
                  #{event.description}

    .row
      .col-md-2.col-md-offset-5.text-center
        %a.gotop
