!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title
        Proyectual
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = favicon_link_tag 'favicon.ico'
      = csrf_meta_tags
      = display_meta_tags
      = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    %nav
      .container
        .no-gutter
          .col-xs-6.box.visible-xs
            = link_to(home_path, class: 'logo') do
              = image_tag('logo.svg')
          .col-xs-6.col-sm-6.col-md-4.col-lg-5.box.hidden-xs
            .col-xs-9.col-sm-6.col-md-6
              = link_to(home_path, class: 'logo') do
                = image_tag('logo.svg')
            .col-md-6.visible-lg
              %ul.list-inline.social-buttons-nav.pull-right.icons
                %li
                  %p= t('nav.follow')
                %li
                  .hline
                %li
                  = link_to "http://www.facebook.com/proyectual", :target => '_blank' do
                    %i.fa.fa-facebook
                %li
                  = link_to "https://www.instagram.com/proyectualbcn", :target => '_blank' do
                    %i.fa.fa-instagram
                %li
                  = link_to "https://twitter.com/proyectualbcn", :target => '_blank' do
                    %i.fa.fa-twitter
                %li
                  = link_to "https://www.youtube.com/user/proyectualtv", :target => '_blank' do
                    %i.fa.fa-youtube
          .col-xs-6.col-sm-6.col-md-4.col-lg-2.box.text-center
            %button.c-hamburger.c-hamburger--htx
              %span
                toggle menu
          .col-xs-12.col-sm-6.col-md-4.col-lg-5.box.hidden-xs
            .col-md-12.col-lg-6
              %ul.list-inline.social-buttons-nav
                %li
                  %p= t('nav.lang')
                %li
                  .hline
                %li
                  = link_to change_locale_path(:en) do
                    %p ENG
                %li
                  = link_to change_locale_path(:es) do
                    %p ESP
                %li
                  = link_to change_locale_path(:ca) do
                    %p CAT
            .col-md-6.visible-lg
              = link_to(t('nav.stay_updated'), '#',  class: 'btn btn-nav btn-sm pull-right subscribe-button')

	
    .bottom-nav.visible-md.hidden-lg
      .row
        .col-md-6
          %ul.list-inline.social-buttons-nav.icons
            %li
              %p= t('nav.follow')
            %li
              .hline
            %li
              = link_to "http://www.facebook.com/proyectual", :target => '_blank' do
                %i.fa.fa-facebook
            %li
              = link_to "https://www.instagram.com/proyectualbcn", :target => '_blank' do
                %i.fa.fa-instagram
            %li
              = link_to "https://twitter.com/proyectualbcn", :target => '_blank' do
                %i.fa.fa-twitter
            %li
              = link_to "https://www.youtube.com/user/proyectualtv", :target => '_blank' do
                %i.fa.fa-youtube
        .col-md-6
          = link_to(t('nav.stay_updated'), '#',  class: 'btn btn-nav btn-sm pull-right subscribe-button')
    .menu
      .menu-inner
        .container
          .col-md-12
            .menu--shylock
              %ul.menu__list
                %li.menu__item
                  = link_to(t('menu.home'), home_path, class: 'menu__link')
                %li.menu__item
                  = link_to(t('menu.events'), events_path, class: 'menu__link')
                %li.menu__item
                  = link_to(t('menu.news'), news_index_path, class: 'menu__link')
                %li.menu__item
                  = link_to(t('menu.artists'), artists_path, class: 'menu__link')
                %li.menu__item
                  = link_to(t('menu.about'), about_path, class: 'menu__link')
      %p.text-bottom
        Roc Boronat 24, 3-2, Barcelona, Spain / T 601 271 668 / about@proyectual.info
    .subscribe
      .vcenter
        .row
          = render :partial => 'emailapi/subscribe'
    = yield
    %footer.no-gutter
      .container-fluid
        .row
          .col-md-6.col-md-offset-3.text-left.footmenu.text-center
            .row
              = link_to(t('menu.home'), home_path)
              = link_to(t('menu.events'), events_path)
              = link_to(t('menu.news'), news_index_path)
              = link_to(t('menu.artists'), artists_path)
              = link_to(t('menu.about'), about_path)
        .row
          .col-md-6.col-md-offset-3.text-left.footmenu.text-center
            %span.copyright
              © Proyectual 2017.
              = link_to 'http://www.wemakenoise.co', target: '_blank' do
                Made with
                %i.fa.fa-heart
                by NOISE

          .col-md-6.col-md-offset-3.text-center
            %ul.list-inline.social-buttons
              %li
                = link_to "http://www.facebook.com/proyectual", :target => '_blank' do
                  %i.fa.fa-facebook
              %li
                = link_to "https://www.instagram.com/proyectualbcn", :target => '_blank' do
                  %i.fa.fa-instagram
              %li
                = link_to "https://twitter.com/proyectualbcn", :target => '_blank' do
                  %i.fa.fa-twitter
              %li
                = link_to "https://www.youtube.com/user/proyectualtv", :target => '_blank' do
                  %i.fa.fa-youtube

:javascript
  $('.c-hamburger, .menu').click(function(){
    nav();
  });
  $('.subscribe, .subscribe-button').click(function(){
    if($('.menu').hasClass('active')){
      $('.c-hamburger').removeClass('is-active');
      $('.menu').removeClass('active');
    }
    $('.subscribe').toggleClass('active');
  });
  $('body').jpreLoader({
    loaderVPos: '0%',
    autoClose: true,
    showPercentage: false,
  }, function() {
		
  });
  $(window).on('scroll', function(){
    if ($(this).scrollTop() > 100){
      $('nav').addClass('shrink');
    }
    else {
      $('nav').removeClass('shrink');
    }
  });
  $('a.gotop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 1000);
    return false;
  });
  $('.swipebox-video').swipebox({
    useCSS : true, // false will force the use of jQuery for animations
    useSVG : true, // false to force the use of png for buttons
    initialIndexOnArray : 0, // which image index to init when a array is passed
    hideCloseButtonOnMobile : false, // true will hide the close button on mobile devices
    removeBarsOnMobile : true, // false will show top bar on mobile devices
    hideBarsDelay : 3000, // delay before hiding bars on desktop
    videoMaxWidth : 1140, // videos max width
    beforeOpen: function() {}, // called before opening
    afterOpen: function() {}, // called after opening
    afterClose: function() {}, // called after closing
    loopAtEnd: false, // true will return to the first image after the last image is reached
    autoplayVideos: true
  });

  function nav(){
    $('.c-hamburger').toggleClass('is-active');
    $('.menu').toggleClass('active');
    if($(window).scrollTop() > 100){
      $('nav').toggleClass('shrink');
    }
  }
