!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title
        Proyectual
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
      = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    %nav
      .container
        .no-gutter
          .col-xs-6.box.visible-xs
            = link_to(root_path, class: 'logo') do
              = image_tag('logo.svg')
          .col-xs-6.col-sm-6.col-md-6.col-lg-5.box.hidden-xs
            .col-xs-9.col-sm-6.col-md-6
              = link_to(root_path, class: 'logo') do
                = image_tag('logo.svg')
            .col-md-6.visible-lg
              %ul.list-inline.social-buttons-nav.pull-right
                %li
                  %p= t('nav.follow')
                %li
                  .hline
                %li
                  = link_to "http://www.facebook.com/proyectual", :target => '_blank' do
                    %i.fa.fa-facebook
                %li
                  = link_to "https://www.instagram.com/proyectualbcn", :target => '_blank' do
                    %i.fa.fa-instagram
                %li
                  = link_to "https://twitter.com/proyectualbcn", :target => '_blank' do
                    %i.fa.fa-twitter
                %li
                  = link_to "https://www.youtube.com/user/proyectualtv", :target => '_blank' do
                    %i.fa.fa-youtube
          .col-xs-6.col-sm-6.col-md-6.col-lg-2.box.text-center
            %button.c-hamburger.c-hamburger--htx
              %span
                toggle menu
          .col-xs-12.col-sm-6.col-md-5.box.visible-lg
            .col-md-6
              %ul.list-inline.social-buttons-nav
                %li
                  %p= t('nav.lang')
                %li
                  .hline
                %li
                  = link_to change_locale_path(:en) do
                    %p ENG
                %li
                  = link_to change_locale_path(:es) do
                    %p ESP
                %li
                  = link_to change_locale_path(:ca) do
                    %p CAT
            .col-md-6.visible-lg
              = link_to(t('nav.stay_updated'), "http://www.residentadvisor.net/promoter.aspx?id=19688", class: 'btn btn-nav btn-sm pull-right')
	
    .menu
      .menu-inner
        .container
          .col-md-4.col-md-offset-2
            = link_to(t('menu.home'), root_path)
            = link_to(t('menu.events'), events_path)
            = link_to(t('menu.news'), news_index_path)
            = link_to(t('menu.artists'), artists_path)
            = link_to(t('menu.about'), about_index_path)
          .col-md-4.hidden-xs
            %p
              Roc Boronat 24, 3-2
              %br
              Barcelona
              %br
              Spain
              %br
              -
              %br
              T 601 271 668
              %br
              about@proyectual.info

    = yield
    %footer.no-gutter
      .container-fluid
        .row
          .col-md-6.col-md-offset-3.text-left.footmenu.text-center
            .row
              = link_to(t('menu.home'), root_path)
              = link_to(t('menu.events'), events_path)
              = link_to(t('menu.news'), news_index_path)
              = link_to(t('menu.artists'), artists_path)
              = link_to(t('menu.about'), about_index_path)
        .row
          .col-md-6.col-md-offset-3.text-left.footmenu.text-center
            %span.copyright
              © Proyectual 2016.
              = link_to 'http://www.wemakenoise.co', target: '_blank' do
                Made with
                %i.fa.fa-heart
                by NOISE

          .col-md-6.col-md-offset-3.text-center
            %ul.list-inline.social-buttons
              %li
                = link_to "http://www.facebook.com/proyectual", :target => '_blank' do
                  %i.fa.fa-facebook
              %li
                = link_to "https://www.instagram.com/proyectualbcn", :target => '_blank' do
                  %i.fa.fa-instagram
              %li
                = link_to "https://twitter.com/proyectualbcn", :target => '_blank' do
                  %i.fa.fa-twitter
              %li
                = link_to "https://www.youtube.com/user/proyectualtv", :target => '_blank' do
                  %i.fa.fa-youtube

:javascript
  $('.c-hamburger').click(function(){
    $(this).toggleClass('is-active');
    $('.menu').toggleClass('active').fadeToggle("slow", "linear");
    if($(window).scrollTop() > 100){
      $('nav').toggleClass('shrink');
    }
  });
  $('body').jpreLoader({
    loaderVPos: '0%',
    autoClose: true,
    showPercentage: false,
  }, function() {
		
  });
  $(window).on('scroll', function(){
    if ($(this).scrollTop() > 100){
      $('nav').addClass('shrink');
    }
    else {
      $('nav').removeClass('shrink');
    }
  });
